@import "src/styles.scss";

// Colors //
.card.visitat {
    background-color: hsla(51, 100%, 85%, 0.7);
    color: hsl(51, 100%, 15%);
    --svg-fill: hsl(51, 100%, 50%);
    --svg-stroke: hsl(51, 100%, 31%);

    --notes-background: light-dark(hsla(51, 100%, 40%, 0.3), hsla(51, 100%, 90%, 0.5));
}
.card:not(.visitat) {
    background-color: hsla(218, 0%, 75%, 0.7);
    color: light-dark(hsl(0, 0%, 15%), hsl(217, 100%, 15%));
    --svg-fill: light-dark(hsla(0, 0%, 100%, 0.5), hsla(217, 39%, 30%, 0.375));
    --svg-stroke: light-dark(hsla(0, 0%, 100%, 0), hsla(218, 20%, 31%, 0));

    --notes-background: light-dark(hsla(217, 0%, 95%, 0.4), hsla(217, 100%, 91%, 0.45));

    .data-visita {
        visibility: hidden;
    }
}

// Estils //
.card {
    width: 400px;
    max-width: 100%;
    
    border-radius: 2rem;
    padding: 0.75rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    text-align: center;

    transition: background-color 0.2s;


    .silueta-municipi {
        padding: 0.75rem;
        border-radius: 1.25rem;

        svg {
            max-width: 100%;
            height: 200px;
            padding: 2px;

            path {
                vector-effect: non-scaling-stroke;
                stroke-width: 1;
                fill: var(--svg-fill);
                stroke: var(--svg-stroke);
                transition: fill 0.2s, stroke 0.2s;
            }
        }
    }

    .dades {
        font-size: 1rem;

        .boto-visitar {
            font-size: 1.2em;
            border-radius: 2rem;
            padding: 0.3rem 0.7rem;

            transition: background-color 0.3s, color 0.3s;
        }

        .data-visita {
            font-size: 0.9em;
            color: rgb(142, 121, 0);
            font-style: italic;
        }
        .nom {
            font-size: 1.5em;
            font-weight: bold;
            transition: color 0.3s;
        }

        .notes {
            background-color: var(--notes-background);
            border-radius: 1.25rem;

            width: 100%;
            min-height: 6.5rem;

            transition: background-color 0.3s, color 0.3s;

            ::ng-deep {
                .mdc-line-ripple, .mat-mdc-form-field-subscript-wrapper {
                    display: none;
                }
            }
        }
    }
}

.card.visitat {
    .boto-visitar {
        background-color: hsl(150, 100%, 35%);
        color: white;
    }
}
.card:not(.visitat) {
    .boto-visitar {
        color: hsl(0, 100%, 25%);
        background-color: hsla(0, 100%, 35%, 0.15);
    }
}
