@if (municipi) {

    <section class="card" [class.visitat]="municipi.dataVisita">
        <button class="rs silueta-municipi" (click)="toggleVisita()" matRipple>
            <svg [attr.viewBox]="viewBox"><path [attr.d]="pathD" /></svg>
        </button>

        <div class="dades">
            <button class="boto-visitar boto mb-2" (click)="toggleVisita()" matRipple>
                @if (municipi.dataVisita) {
                    <i class="fa-solid fa-map-pin me-1"></i>
                    Visitat
                } @else {
                    No visitat
                }
            </button>

            <div class="data-visita">{{textDataVisita}}</div>
            
            <div class="nom">{{municipi.nom}}</div>

            
            <mat-form-field class="notes mt-3">
                <mat-label>Notes</mat-label>
                <textarea matInput cdkTextareaAutosize [(ngModel)]="municipi.nota" (change)="persistencia.guardar()"></textarea>
            </mat-form-field>

        </div>

    </section>

}
